<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户登录 - 异想之旅</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" sizes="144x144" href="static/favicon.ico" />
    <style>
        body {
            margin: 30px;
        }
    </style>
</head>

<body>
    <h1>用户登录</h1>
    </br>
    <h3>
        没有注册过的用户请
        <a href="../sign-up">点我注册</a>
    </h3>
    </br>
    <form method="POST" action="">
        <p>用户名：<input type="text" name="username" id="username"></p>
        <p>密&ensp;&ensp;码：<input type="password" name="password" id="password"></p>
        <button type="submit" id="loginBtn">login</button>
    </form>
    <br /><br /><br /><br /><br />
    <p>
        <a href="https://thoughts.teambition.com/share/602946712917070042b9d500" target="_blank">《用户协议》</a>
    </p>
</body>

</html>