<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户注册- 异想之旅</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" sizes="144x144" href="static/favicon.ico" />
    <style>
        body {
            margin: 30px;
        }
    </style>
</head>

<body>
    <h1>用户注册</h1>
    </br>
    <h3>
        已有帐号？
        <a href="../loogin">点我直接登录</a>
    </h3>
    </br>
    <h3>
        警告：用户名建议字母、数字和下划线组成！使用其他字符可能导致后期使用出现异常，请谨慎选择。
    </h3>
    <form method="POST" action="">
        <p>邮箱地址：<input type="email" name="email" id="email"></p>
        <p>用户名：<input type="text" name="username" id="username"></p>
        <p>密&ensp;&ensp;码：<input type="password" name="password" id="password"></p>
        <button type="submit" id="loginBtn">注册</button>
    </form>
    <br /><br /><br /><br /><br />
    <p>
        <a href="https://thoughts.teambition.com/share/602946712917070042b9d500" target="_blank">《用户协议》</a>
    </p>
</body>

</html>