{% extends 'base.html' %} {% block title %}网盘首页{% endblock %} {% block content %}



<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#myFiles">我的文件</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#uploadFiles">上传文件</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#getShareFile">获取分享</a>
    </li>
</ul>




<div class="tab-content my-3">


    <div class="tab-pane active container" id="myFiles">
        {% if message %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{ message }}
        </div>
        {% endif %}
        <div class="alert alert-primary">你的用户名是：{{ username }}&emsp;&emsp;当前路径：{{ folder if folder else "/" }}&emsp;&emsp;<a href="/?path={{ "/".join(folder.split("/")[:-2]) + "/" }}">返回上级目录</a>&emsp;&emsp;<a href="/?path=">返回根目录</a></div>
        <table class="table table-hover">
            <tr>
                <p></p>
            </tr>
            <tr>
                <a data-toggle="modal" data-target="#setFolder">
                    <button class="btn btn-primary">新建文件夹</button>
                </a>
                <button id="shareFiles" class="btn btn-primary" {% if files==[ ] %} disabled="disabled" style="cursor:not-allowed;" {% endif %}>分享所选文件</button>
            </tr>
            <tr>
                <p></p>
            </tr>
            {% if files != [] %}
            <tr style="text-align: center;">
                <td><strong>选择</strong></td>
                <td><strong>文件名</strong></td>
                <td><strong>文件大小</strong></td>
                <td><strong>下载文件</strong></td>
                <td><strong>删除文件</strong></td>
                <td><strong>重命名</strong></td>
                <td><strong>分享</strong></td>
            </tr>
            {% for i in files %}
            <tr style="text-align: center;">
                <td>
                    <input type="checkbox" value="|{{ folder }}{{ i.0 }}" {% if i.2=="-" %} disabled="disabled" style="cursor:not-allowed;" {% endif %}>
                </td>
                <td style="max-width: 300px;">
                    {% if i.2 == "-" %}
                    <a href="?path={{ folder }}{{ i.0 }}">{{ i.0 }}</a> {% else %} {{ i.0 }} {% endif %}
                </td>
                <td>
                    {{ i.2 }}
                </td>
                <td>
                    <a href="{{ url }}/static/uploads/{{ username }}/{{ folder }}{{ (i.0|replace(" % ", "%25 ")|replace("# ", "%23 ")) }}" download="{{ i.0 }}">
                        <button class="btn btn-primary" type="submit" id="download"{% if i.2=="-" %} disabled="disabled" style="cursor:not-allowed;" {% endif %}>下载</button>
                    </a>
                </td>
                <td>
                    <form style="display: inline;" method="POST" action="/delete{% if i.2 == " - " %}-dir{% endif %}/{{ username }}/{{ i.0|replace('%', '%25')|replace('#', '%23') }}?path={{ folder }}">
                        <button class="btn btn-primary" type="submit" id="delete">删除</button>
                    </form>
                </td>
                <td style="width: 250px;">
                    <form class="form-inline" method="POST" action="/rename/{{ username }}/{{ i.0|replace('%', '%25')|replace('#', '%23') }}?path={{ folder }}">
                        <input style="width: 150px;" type="text" name="new_name" id="new_name" class="form-control" placeholder="新文件名({{ i.1 }})">
                        <button class="btn btn-primary" type="submit" id="rename">重命名</button>
                    </form>
                </td>
                <td>
                    <form style="display: inline;" method="POST" action="/get-share-url/{{ username }}/{{ folder }}{{ i.0 }}" target="_blank">
                        <button class="btn btn-primary" type="submit" id="share">分享</button>
                    </form>
                </td>
            </tr>
            {% endfor %} {% else %}
            <div style="text-align: center;">
                <h4>无文件</h4>
            </div>
            {% endif %}
            <!--
            <button id="shareFiles" class="btn btn-primary"{% if files == [] %} disabled="disabled" style="cursor:not-allowed;"{% endif %}>分享所选文件</button>
            <br />
            -->
        </table>
    </div>


    <div class="tab-pane container" id="uploadFiles">
        {% if message %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{ message }}
        </div>
        {% endif %}
        <div class="alert alert-primary">你的用户名是：{{ username }}&emsp;&emsp;当前路径：{{ folder if folder else "/" }}</div>
        <form id="uploadFileForm" action="?path={{ folder }}" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="uploadFile" name="file" value="选择文件">
                    <label id="uploadFileLabel" class="custom-file-label" for="uploadFile">选择文件</label>
                </div>
            </div>
            <button id="uploadFileSubmit" type="button" class="btn btn-info btn-block" style="color: white; background-color: rgb(0,123,255);">上传文件</button>
        </form>
    </div>


    <div class="tab-pane container" id="getShareFile">
        <br />
        <form id="getShareFile" action="/get-share-file-by-code" enctype="multipart/form-data" method="POST">
            <h5>请输入文件分享码：</h5>
            <br />
            <input class="form-control" type="text" name="share-code" id="share-code">
            <br />
            <button id="getShareFile" type="submit" class="btn btn-info btn-block" style="color: white; background-color: rgb(0,123,255);">获取分享文件</button>
        </form>
        <br />
    </div>
</div>




<hr>
<br />
<div style="text-align: center;">
    <a data-toggle="modal" data-target="#userAgreement">
        <button class="btn btn-info">用户协议</button>
    </a>
    <a data-toggle="modal" data-target="#updateLog">
        <button class="btn btn-info">更新日志</button>
    </a>
    <a data-toggle="modal" data-target="#tutorial">
        <button class="btn btn-info">使用教程</button>
    </a>
</div>


<div class="modal fade" id="userAgreement">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">《异想之旅轻量网盘服务用户协议》</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://thoughts.teambition.com/share/602946712917070042b9d500" class="w-100 h-100 border-0"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateLog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">《异想之旅轻量网盘服务更新日志》</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://thoughts.teambition.com/share/602fe2639231d9004a2fdb01" class="w-100 h-100 border-0"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="tutorial">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <a href="https://thoughts.teambition.com/share/6034f9d95d02fb0046e47719" target="_blank">
                        使用教程
                    </a>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://thoughts.teambition.com/share/6034f9d95d02fb0046e47719" class="w-100 h-100 border-0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="setFolder">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建文件夹</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">当前路径：{{ folder if folder else "/" }}</div>
                <form method="POST" action="/set-dir/{{ username }}?path={{ folder }}" style="display: inline; text-align: center;">
                    <input style="display: inline; width: 85%;" type="text" name="new_folder_name" id="new_folder_name" class="form-control" placeholder="请输入新文件夹名称">
                    <button style="display: inline;" class="btn btn-primary" type="submit" id="rename">新建文件夹</button>
                </form>
            </div>
        </div>
    </div>
</div>



<br /><br />

<div style="text-align: center;">
    <h5>本项目由王子开发，<a href="https://github.com/Danny-Yxzl/netdisk-server" target="_blank">Github</a></h5>
    <h5>特别感谢杨中天提供的前端开发、服务配置等技术指导！</h5>
</div>


{% endblock %} {% block js %}
<script>
    $('#uploadFile').change(function() {
        $('#uploadFileLabel').html(this.files[0].name)
    })
    $('#uploadFileSubmit').click(function() {
        if ($(this).text() !== '上传文件') {
            $('#uploadFileForm').submit()
        } else {
            $(this).text('再次点击开始上传！上传过程没有提示，请耐心等待。')
            $(this).addClass('bg-primary text-white')
        }
    })
</script>

<script>
    $("#shareFiles").click(function() {
        let submit_values = [];
        const selected_checkboxs = $("input[type='checkbox']:checked");
        selected_checkboxs.each(function() {
            submit_values.push($(this).val());
        });
        //alert(submit_values.toString());
        $.post("../get-shares-url/{{ username }}", {
            "data": submit_values.toString()
        }, function(result) {
            console.log(result);
            if (result !== "../") {
                window.open(result, "_blank");
            }
        })
    })
</script>
<script>
    function up_request_path(path) {
        let url = window.location.toString();
        url = url.split("?")[0] + "?path=" +path;
        window.location.href = url;
    }
</script>
{% endblock %}