{% extends "base.html" %}
{% block title %}用户登录{% endblock %}
{% block content %}
    <div class="card" style="border-radius: 30px; padding: 20px;">
        <div class="card-body">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            <h1>用户登录</h1>
            </br>
            </br>
            <h5>
                没有注册过的用户请<a href="/sign-up">点我注册</a>
            </h5>
            </br>
            <form method="POST" action="{{ "?from=" + from_url if from_url else "" }}" style="display: inline;" target="_top">
                <p>用户名：<input class="form-control" type="text" name="username" id="username"></p>
                <p>密&ensp;&ensp;码：<input class="form-control" type="password" name="password" id="password"></p>
                <button class="btn btn-primary" type="submit" id="loginBtn">登录</button>
                <a href="https://thoughts.teambition.com/share/602946712917070042b9d500" target="_blank" style="text-decoration: None;">
                    <button class="btn btn-info" type="button">用户协议</button>
                </a>
            </form>

            <br /><br />

        </div>
    </div>
{% endblock %}